<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="clientConfiguration" type="ServiceBusDemo.Business.ClientConfiguration, ServiceBusDemo.Business"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <clientConfiguration isOnPrem="" aadClientId="" tenantName="" certificateSubject="" />
</configuration>